@{
    ViewData["Title"] = "6TECH";
}
<h2>@ViewData["Title"] </h2>


<p>
    Somos uma empresa de tecnologia e temos o prazer de ter você como colaborador, para melhor comunicação entre a gente criamos
    com exclusividade essa paltaforma para te ajudar no dia a dia.
    Criada em 2022 somos novos no mercado e estamos endo em constante evolução no ramo, contamos com a sua ajuda para sempre
    crescer ainda mais.
    A ideia fundamental é aumentar a autonomia do usuário com o sistema e minimizar os possíveis erros que possam aparecer durante a navegação.
</p>
