@{
    ViewData["Title"] = "Dúvidas Frequentes";
}
<h2>@ViewData["Title"]</h2>

<address>
    Se ainda continua com dúvidas pode entrar em contato com a gente pelos contatos abaixo <br />
    <p>
        <ul>
            <li> Valores faltantes </li>
            <li> Impostos </li>
            <li> Reembolso </li>
            <li> Rendimentos Anuais </li>
            <li> Vale transporte </li>
            <li> Vale refeição </li>
        </ul>
    </p>

    <abbr title="Phone">Telefone fixo:</abbr>
    4004-8080 <br />
    <abbr title="Phone">Ramal:</abbr>
    7458/7452/7456 <br />
    <abbr title="Phone">Whatsapp:</abbr>
    011 95263-7894 <br />

</address>

<address>
    <strong>Recursos Humanos:</strong> <a href="mailto:Recursos6TECH@gmail.com">Recursos6TECH@gmail.com</a><br />
</address>
