@model HomeModel
@{
    ViewData["Title"] = "6TECH";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo, @Model.Nome!</h1>
    <p> É um prazer receber você em nossa plataforma</p>
    <span> Seu email é: @Model.Email</span>
</div>